@layer variables {
    :root {
        /* Primary Colors */
        --clr-prim-light-blue: hsl(225, 100%, 94%);
        --clr-prim-dark-blue: hsl(245, 75%, 52%);
        
        /* Neutral Colors */
        --very-pale-blue: hsl(225, 100%, 98%);
        --desaturated-blue: hsl(224, 23%, 55%);
        --dark-blue: hsl(223, 47%, 23%);
    }
}