@layer variables {
    :root {
        /* Primary */
        --clr-orange: hsl(31, 77%, 52%);
        --clr-cyan: hsl(184, 100%, 22%);
        --clr-dark-cyan: hsl(179, 100%, 13%);

        /* Neutral */
        --clr-neutral-tr-white: hsla(0, 0%, 100%, 0.75);
        --clr-neutral-gray: hsl(0, 0%, 95%);

        /* fonts */
        --ff-big-shoulders: "Big Shoulders Display", sans-serif;
        --ff-lexend-deca: "Lexend Deca", sans-serif;

        /* font weights */
        --fw-400: 400;
        --fw-700: 700;

        /* layout */
        --padding: 1.5rem;

        --max-width: 900px;

    }
}

@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 0.9375rem; /* 15px */
    }

    body {
        height: 100vh;
        padding-block: calc(var(--padding) * 3);
    }

    main {

    }


}

@layer layout {
    .content-grid

    .card-grid

}

@layer components {
    .card

    .card-sedan

    .card-suv

    .card-luxury

    .card__icon

    .card__title

    .card__text

    .card__btn

    .btn

}