@layer variables {
    :root {
        /* Primary */
        --clr-orange: hsl(31, 77%, 52%);
        --clr-cyan: hsl(184, 100%, 22%);
        --clr-dark-cyan: hsl(179, 100%, 13%);

        /* Neutral */
        --clr-neutral-tr-white: hsla(0, 0%, 100%, 0.75);
        --clr-neutral-gray: hsl(0, 0%, 95%);

        /* fonts */
        --ff-big-shoulders: "Big Shoulders", sans-serif;
        --ff-lexend-deca: "Lexend Deca", sans-serif;

        /* font weights */
        --fw-400: 400;
        --fw-700: 700;

        /* layout */
        --padding: 1.5rem;

        --max-width: 900px;

    }
}

@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 0.9375rem; /* 15px */
    }

    body {
        height: 100vh;
        padding-block: calc(var(--padding) * 2.5);
        background-color: var(--clr-neutral-gray);
        color: var(--clr-neutral-gray);
    }

    main {

    }



    h2 {
        font-family: var(--ff-big-shoulders);
        font-weight: var(--fw-700);
        line-height: 1.2;
        text-transform: uppercase;
    }

    p {
        font-family: var(--ff-lexend-deca);
        font-weight: var(--fw-400);
        line-height: 1.5;
    }
}

@layer layout {
    .content-grid {
        --_grid-padding: var(--padding);
        --_max-width: var(--max-width);

        display: grid;
        grid-template-columns: 
            var(--_grid-padding)
            1fr
            minmax(0, var(--_max-width))
            1fr
            var(--_grid-padding);

        place-items: center;
        height: 100%;
        
        & > * {
            grid-column: 3;
        }
    }

    .card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));   
        border-radius: 0.35rem;
        overflow: clip;
        place-items: center;
    }

    .flow {
        & > * + * {
            margin-top: calc(1em + 1ch);
        }
    }
}

@layer components {
    .card {
        --_card-bg: var(--clr-orange);

        background-color: var(--_card-bg);
        padding: 2.5rem;
    }

    .card-sedan {
        --_card-bg: var(--clr-orange);
    }

    .card-suv {
        --_card-bg: var(--clr-cyan);
    }

    .card-luxury {
        --_card-bg: var(--clr-dark-cyan);
    }

    .card__icon {

    }

    .card__title {
        text-transform: uppercase;
    }

    .card__text {

    }

    .card__btn {
        cursor: pointer;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        font-family: var(--ff-lexend-deca);
        text-decoration: none;

        background-color: var(--clr-neutral-gray);
        color: var(--_card-bg);

        padding: 0.85rem 1.75rem;
        border-radius: 100rem;
        border: 2px solid var(--clr-neutral-gray);
        
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: transparent;
            color: var(--clr-neutral-gray);
        }
    }
}